.btn{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: @pfd-m;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  color: @white;

  &:hover,
  &--hover{

  }

  &:active,
  &--active{

  }

  &--around{
    padding: 15px 30px;
    border: 2px solid #80cff1;
    border-radius: 3px;
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 14px;

    &:hover,
    &--hover{
      border: 2px solid darken(#80cff1, 10%);
    }

    &:active,
    &--active{
      border: 2px solid #80cff1;
    }
  }

  &--border{
    padding: 12px 25px;
    border: 3px solid #fff;
    border-radius: 3px;

    &:hover,
    &--hover{
      opacity: .7;
    }

    &:active,
    &--active{
      opacity: 1;
    }
  }

  &--login{
    margin-right: 15px;
    padding: 16px 0 16px 0;
    font-family: @pfd;
    text-decoration: underline;
    text-transform: none;
    font-size: 16px;
    line-height: 16px;


    &:hover,
    &--hover{
      opacity: .7;
    }

    &:active,
    &--active{
      opacity: 1;
    }
  }
}
