/*=====================
  Базовая типография
=====================*/

// @font-face {
//     font-family: 'pd-black-italic';
//     src: url('../font/pd-black-italic-webfont.eot');
//     src: url('../font/pd-black-italic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../font/pd-black-italic-webfont.woff2') format('woff2'),
//          url('../font/pd-black-italic-webfont.woff') format('woff'),
//          url('../font/pd-black-italic-webfont.ttf') format('truetype'),
//          url('../font/pd-black-italic-webfont.svg#playfair_displayblack_italic') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'pfd';
    src: url('../font/pfd-pro.ttf') format('truetype');
}

@font-face {
    font-family: 'pfd-med';
    src: url('../font/pfd-pro-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'pfd-bold';
    src: url('../font/pfd-pro-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'pfd-c';
    src: url('../font/pfd-c-pro.ttf') format('truetype');
}

@font-face {
    font-family: 'pfd-c-med';
    src: url('../font/pfd-c-pro-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'pfd-c-bold';
    src: url('../font/pfd-c-pro-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'pfd-light';
    src: url('../font/pfd-pro-l.ttf') format('truetype');
}

@pfd: 'pfd', 'Arial', sans-serif;
@pfd-m: 'pfd-med', 'Arial', sans-serif;
@pfd-b: 'pfd-bold', 'Arial', sans-serif;
@pfd-l: 'pfd-light', 'Arial', sans-serif;
@pfd-c: 'pfd-c', 'Arial', sans-serif;
@pfd-c-m: 'pfd-c-med', 'Arial', sans-serif;
@pfd-c-b: 'pfd-c-bold', 'Arial', sans-serif;

body{
  font-family: @pfd;
  font-size: 16px;
  line-height: 18px;
  color: #000;
}

h1{

}

h2{

}

h3{

}

h4{

}

p,
li,
span{

}

strong,
b{
  font-weight: 600;
}

a{

  &:hover{

  }
}

ul{
    li{

    }
}

table{
  td{

  }
}
