.promo{
  width: 100%;
  font-size: 0;
  min-height: 370px;
  background: url("../img/bg-promo.jpg") no-repeat center;
  background-size: cover;
}

.index-block{
  margin-top: 60px;
}

.main-section{

  &__title{
    font-family: @pfd-c-b;
    font-size: 50px;
    line-height: 44px;
    text-transform: uppercase;
    color: #000;
    border-bottom: 8px solid #000;
    margin-bottom: 30px;

    &--blue{
      color: @blue;
      border-bottom: 8px solid @blue;
    }

    &--pink{
      color: @pink;
      border-bottom: 8px solid @pink;
    }

    &--ppl{
      color: @ppl;
      border-bottom: 8px solid @ppl;
    }
  }
}

.project{
  width: 317px;
  height: 317px;
  float: left;
  margin-right: 22px;
  overflow: hidden;
  position: relative;
  background: #878787;

  &__mask{
    content: "";
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.01)), color-stop(47%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.8)));
    background: linear-gradient(to bottom, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.01) 47%,rgba(0,0,0,0.8) 100%);
  }

  &:last-child{
    margin-right: 0;
  }

  &__title{
    position: absolute;
    left: 15px;
    bottom: 15px;
    z-index: 30;
    color: #fff;
    font-family: @pfd-c-m;
    font-size: 30px;
    line-height: 26px;
    padding-top: 10px;
    border-top: 4px solid #fff;
    margin: 0;
  }

  &--investor{
    &:before{
      content: "требуется инвестор";
      font-family: @pfd-m;
      font-size: 13px;
      line-height: 18px;
      background: #000;
      padding: 3px 5px 1px;
      color: @white;
      text-transform: uppercase;
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 30;
    }
  }

  &--blue{
    background: @blue;

    &:hover{
      .project__mask{
        background: @blue;
        opacity: .7;
      }
    }

    &.project--investor{
      &:before{
        background: @blue;
      }
    }
  }

  &--pink{
    background: @pink;

    &:hover{
      .project__mask{
        background: @pink;
        opacity: .7;
      }
    }

    &.project--investor{
      &:before{
        background: @pink;
      }
    }
  }

  &--ppl{
    background: @ppl;

    &:hover{
      .project__mask{
        background: @ppl;
        opacity: .7;
      }
    }

    &.project--investor{
      &:before{
        background: @ppl;
      }
    }
  }
}

.project-page{
  .project{
    width: 233px;
    height: 233px;
    margin-right: 15px;
    margin-bottom: 15px;

    a{
      display: block;
      width: 260px;
      height: 260px;
    }

    img{
      display: block;
      width: 233px;
      height: 233px;
    }

    &__title{
      font-size: 18px;
      line-height: 20px;
      border-top: 0;
    }

    &:nth-child(3n+3){
      margin-right: 0;
    }
  }
}

.interview{

  &__image{
    width: 105px;
    margin-right: 20px;
    float: left;

    img{
      width: 105px;
      height: 105px;
      border-radius: 50%;
      display: block;
      margin-bottom: 10px;
    }
  }

  &__name{
    font-family: @pfd;
    margin-left: 10px;
    color: #686868;

    span{
      font-family: @pfd-c-m;
      display: block;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 16px;
    }
  }

  &__text{
    padding: 5px 0 0 45px;
    font-family: @pfd-c-m;
    color: #000;
    font-size: 30px;
    line-height: 32px;
    position: relative;
    margin: 0;
    margin-left: 125px;
    text-transform: uppercase;

    &:before{
      position: absolute;
      top: 5px;
      left: 0;
      content: "";
      width: 30px;
      height: 30px;
      background-color: #000;
      background-image: url("../img/ico-quote.png");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }
  }

  &--pink{
    .interview__text{
      color: @pink;

      &:before{
        background-color: @pink;
      }
    }
  }

  &--blue{
    .interview__text{
      color: @blue;

      &:before{
        background-color: @blue;
      }
    }
  }
}

.alert{
  padding: 15px 20px;
  background: #000;
  color: #fff;

  img{
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }

  &__title{
    text-transform: uppercase;
    font-family: @pfd-c-b;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    vertical-align: top;
    width: 135px;
    margin: 0;
    margin-top: 10px;
  }

  &__text{
    display: inline-block;
    vertical-align: top;
    font-family: @pfd;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 3px 0 0 15px;
    border-left: 1px solid rgba(255,255,255,.5);
    width: 375px;
    min-height: 40px;
    margin-top: 10px;
  }

  &--pink{
    background: @pink;
  }

  &--blue{
    background: @blue;
  }

  &--awward{
    padding: 15px;

    .btn{
      margin-top: 200px;
    }
  }
}

.news{
  display: inline-block;
  vertical-align: top;
  width: 295px;
  margin-right: 50px;
  margin-bottom: 35px;
  color: #000;

  &:nth-child(2n+2){
    margin-right: 0;
  }

  a{
    text-decoration: none;
    color: #000;

    &:hover{
      opacity: .7;
    }
  }

  &__title{
    font-family: @pfd-c-m;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }

  &__date{
    font-family: @pfd;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
  }

  &--blue{
    color: @blue;

    a{
      color: @blue;
    }
  }

  &--pink{
    color: @pink;

    a{
      color: @pink;
    }
  }

  &--ppl{
    color: @ppl;

    a{
      color: @ppl;
    }
  }
}

.awward{

  &__year{
    font-family: @pfd-c-m;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    color: @pink;
  }

  &__small-text{
    font-family: @pfd-c-m;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    width: 125px;
  }

  &__title{
    font-family: @pfd-c-b;
    font-size: 46px;
    line-height: 36px;
    text-transform: uppercase;
    margin-top: 5px;
  }
}

.magazine{
  border: 1px solid #e5e5e5;
  margin-top: 15px;
  padding: 15px;

  &__title{
    font-family: @pfd-c-b;
    font-size: 30px;
    line-height: 30px;
    color: #a7a7a7;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
  }
}

.magazine-item{
  display: inline-block;
  vertical-align: top;

  img{
    display: block;
    margin: 0 20px 20px 0;
  }
}

.arrow{
  display: inline-block;
  vertical-align: top;
  font-family: @pfd-c-b;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #b5b5b5;
  padding-right: 50px;
  text-decoration: none;
  background: url("../img/ico-arrow-2.png") no-repeat right center;
  margin: 0;
  margin-top: 110px;
  padding: 7px 50px 7px 0;

  &:hover{
    color: darken(#b5b5b5, 10%);
  }

  &:active{
    opacity: .7;
  }
}
